<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <!-- This rule ensures that requests for Next.js's static assets are not handled by Node.js -->
                <rule name="StaticContent" stopProcessing="true">
                    <match url="^(_next/.+)" ignoreCase="false" />
                    <action type="None" />
                </rule>

                <!-- This rule sends all other requests to the Node.js server -->
                <rule name="DynamicContent">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="server.js" />
                </rule>
            </rules>
        </rewrite>
        
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <remove segment="node_modules" />
                </hiddenSegments>
            </requestFiltering>
        </security>
        
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>
