<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Rule to leave Next.js's internal static files alone -->
        <rule name="NextJsStatic" stopProcessing="true">
          <match url="^_next/.+" />
          <action type="None" />
        </rule>

        <!-- Rule to leave other public static files alone -->
        <rule name="StaticPublicFiles" stopProcessing="true">
          <match url="\.(gif|jpg|jpeg|png|svg|css|js|ico)$" />
          <action type="None" />
        </rule>

        <!-- Rule to handle all other requests through Next.js -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <iisnode node_env="production"
             loggingEnabled="true"
             devErrorsEnabled="true"
             watchedFiles="web.config;*.js;server.js" />
             
  </system.webServer>
</configuration>
